streamlit
streamlit-authenticator
extra-streamlit-components
openai
chromadb
tenacity
pdfplumber
pdfminer.six
protobuf==3.20.*
# 下記は元から入っていればそのまま
opentelemetry-api
opentelemetry-exporter-otlp-proto-grpc
pysqlite3-binary>=0.5.2
requests
gspread 
google-auth 
pandas